algokit==2.10.0
algokit-utils==4.2.3
algorand-python==3.3.0
algorand-smart-contract-library @ git+https://github.com/Folks-Finance/algorand-smart-contract-library.git@3a82609cde9c93b85b48b72f5d31937f1c295012
puyapy==5.6.0
py-algorand-sdk==2.11.1
setuptools==80.9.0
