# Run ./init-network.sh to generate .env.alpen with real values.
#
# For signet, generate with:
#   BITCOIN_NETWORK=signet GENESIS_L1_HEIGHT=<height> \
#   BITCOIN_RPC_URL=... BITCOIN_RPC_USER=... BITCOIN_RPC_PASSWORD=... \
#   ./init-network.sh <datatool_path>

SEQUENCER_PRIVATE_KEY=
SEQUENCER_PUBKEY=

SEQ_P2P_PUBKEY=
FN_P2P_PUBKEY=

CHAIN_SPEC=testnet

EE_DA_MAGIC_BYTES=ALPN
L1_REORG_SAFE_DEPTH=1
# Must match the genesis height used when generating params.
# Set via GENESIS_L1_HEIGHT when running init-network.sh.
GENESIS_L1_HEIGHT=0
BATCH_SEALING_BLOCK_COUNT=5

BITCOIND_RPC_USER=rpcuser
BITCOIND_RPC_PASSWORD=rpcpassword
BITCOIND_RPC_PORT=18443

STRATA_RPC_PORT=8432

SEQ_HTTP_PORT=8545
SEQ_WS_PORT=8546
SEQ_P2P_PORT=30303

FN_HTTP_PORT=9545
FN_WS_PORT=9546
FN_P2P_PORT=31303

RUST_LOG=info
